[submodule "u-boot-xlnx"]
	path = boot/u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx.git
[submodule "buildroot"]
	path = rootfs/buildroot
	url = https://github.com/analogdevicesinc/buildroot.git
[submodule "linux"]
	path = kernel/linux
	url = https://github.com/analogdevicesinc/linux
[submodule "hdl"]
	path = fpga/hdl
	url = https://github.com/analogdevicesinc/hdl
	ignore = untracked
